@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css");
#product {
  max-width: 1280px;
  margin: auto;
}
#product * {
  font-family: "Outfit", Roboto, sans-serif;
}
#product .product-breadcrumb span {
  margin: 0 10px;
}
#product .product-breadcrumb a {
  color: #1664C0;
  text-decoration: none;
}
#product .product-breadcrumb a.active {
  color: rgba(0, 0, 0, 0.6);
}
#product .product-content-wrapper {
  max-width: 700px;
  width: 100%;
}
#product .product-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
}
#product .product-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
#product .product-buttons .v-btn {
  font-size: 16px !important;
}
#product .product-rating {
  font-size: 16px;
}
#product .product-rating .mdi-star {
  font-size: 25px;
  top: 3px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
}
#product .product-rating .mdi-star.active {
  color: goldenrod;
}
#product .product-rating .rating-count {
  margin-left: 10px;
  color: #1664C0;
}
#product .product-price {
  font-size: 24px;
  font-weight: 500;
}
#product .product-price .orig-price {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 10px;
}
#product .product-buttons .normalize-casing * {
  text-transform: none !important;
}
#product .product-delivery {
  font-size: 16px;
  font-weight: 500;
}
#product .product-table {
  border-radius: 15px;
  border: 1px solid #e1e1e1;
  width: 100%;
}
#product .product-table table {
  border-collapse: collapse;
  width: 100%;
}
#product .product-table table td {
  padding: 10px 15px;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: none !important;
  border-top: none !important;
  background: none !important;
  width: 50%;
}
#product .product-table table td:last-child {
  border-right: none;
}
#product .product-table table tr:last-child td {
  border-bottom: none;
}
#product .product-tabs .v-btn {
  background: transparent;
  color: rgb(0, 117, 255);
}
#product .product-tabs .v-btn.active {
  background: #fff;
  color: rgb(0, 117, 255);
}
#product .swiper {
  padding-bottom: 20px;
  margin-bottom: 100px;
}
#product .swiper .swiper-button-next {
  right: 0;
}
#product .swiper .swiper-button-prev {
  margin-right: 20px;
}
#product .swiper .swiper-wrapper {
  overflow: visible;
  margin-bottom: 30px;
}
#product .swiper .product-card-wrapper {
  transition: 0.3s;
}
#product .swiper .product-card-wrapper:hover {
  box-shadow: 0 1px 5px rgba(139, 173, 225, 0.55) !important;
  border: 1px solid rgba(0, 161, 255, 0.56) !important;
}
#product .swiper .product-card-wrapper .title-wrap {
  word-break: break-word;
  font-size: 15px;
  font-weight: 500;
}
#product .swiper .product-card-wrapper .product-image {
  width: auto;
  height: 180px;
  display: block;
  margin-top: 0 !important;
}
#product .swiper .product-card-wrapper .prod-img-wrapper {
  min-height: 250px;
  display: flex;
  align-items: center;
}
#product .swiper .product-card-wrapper .ratings-box {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}
#product .swiper .product-card-wrapper .product-title-link {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#product .swiper .product-card-wrapper .product-title-link:hover {
  color: #0d47a1;
  text-decoration: underline;
}
#product .swiper .product-card-wrapper .best-seller {
  top: 20px;
  left: 20px;
  z-index: 3;
  position: absolute;
}
#product .swiper .product-card-wrapper .excerpt-wrap {
  font-size: 12px;
}
#product .swiper .product-card-wrapper .excerpt-wrap .product-excerpt {
  min-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#product .swiper .product-card-wrapper .model-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#product .swiper .product-card-wrapper .model-rating .model-text {
  font-size: 12px !important;
}
#product .swiper .product-card-wrapper .model-rating .rating-stars {
  font-size: 16px;
  text-align: right;
  color: #ff9900;
  display: inline-flex; /* or flex */
  white-space: nowrap;
  align-items: center;
}
#product .swiper .product-card-wrapper .product-price .starts-at {
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}
#product .swiper .product-card-wrapper .product-price .the-price {
  font-size: 24px;
  font-weight: 500;
}
#product .swiper .product-card-wrapper .ratings-box {
  font-family: Outfit, Roboto, sans-serif;
}
#product .swiper .product-card-wrapper .ratings-box .the-ratings {
  font-weight: 400;
  font-size: 16px;
}
#product .swiper .product-card-wrapper .ratings-box .free-delivery {
  font-weight: 500;
  font-size: 14px;
}
#product .swiper .product-slides-title {
  font-size: 32px;
  font-weight: 500;
}

/*# sourceMappingURL=template.css.map */
